body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(242, 239, 239);
}

.app {
  background-color: white;
  width: 65vw;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 0px 30px;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 20px; */
}
.header h2 {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: larger;
}
.link-icons {
  display: flex;
  gap: 10px;
}

.bottom-border {
  border-bottom: 1px solid rgb(182, 182, 182);
  border-width: 90%;
  margin: 20px 0px;
}

.student-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.highlight-text {
  text-decoration: underline;
  color: #00abe1;
  font-weight: 500;
  display: flex;
  margin: auto;
  gap: 5px;
  align-items: center;
  text-align: center;
}
.highlight-text:hover {
  cursor: pointer;
  color: darkgreen;
}
.lock-icon {
  color: gold;
}
.copy-icon {
  color: black;
  padding: 5px;
  /* cursor: pointer; */
  text-align: center;
}
.score-bar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-score h3 {
  padding-bottom: 10px;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.guide-text {
  cursor: pointer;
  color: #00abe1;
  text-align: center;
}
.guide-text:hover {
  color: darkgreen;
}
.green-text {
  color: green;
}
.red-text {
  color: orange;
}
.icon {
  color: #00abe1;
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
}
.icon:hover {
  opacity: 0.7;
}

.hero {
  width: 100px;
}
.blue {
  color: rgb(2, 112, 175);
  font-size: larger;
  font-weight: 800;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.darkblue {
  color: #00abe1;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  padding: 10px 0px;
}
