body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(242, 239, 239);
}

.app {
  background-color: white;
  width: 65vw;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 0px 30px;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.loader {
  margin: 20% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: xx-large;
  font-weight: 600;
  font-family: monospace;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: larger;
}
.link-icons {
  display: flex;
  gap: 10px;
}

.bottom-border {
  border-bottom: 1px solid rgb(182, 182, 182);
  border-width: 90%;
  margin: 20px 0px;
}

.student-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.highlight-text {
  text-decoration: underline;
  color: #00abe1;
  font-weight: 500;
  display: flex;
  margin: auto;
  gap: 5px;
  align-items: center;
  text-align: center;
}
.highlight-text:hover {
  cursor: pointer;
  color: darkgreen;
}
.lock-icon {
  color: gold;
}
.copy-icon {
  color: black;
  padding: 5px;
  text-align: center;
}
.score-bar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-score h3 {
  padding-bottom: 10px;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.progress-bar {
  width: 300px;
}
.guide-text {
  cursor: pointer;
  color: #00abe1;
  text-align: center;
}
.guide-text:hover {
  color: darkgreen;
}
.green-text {
  color: green;
}
.red-text {
  color: orange;
}
.icon {
  color: #00abe1;
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
}
.icon:hover {
  opacity: 0.7;
}

.score-div {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 150px;
  height: 150px;
  background-color: rgb(5, 142, 5);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  text-align: center;
}
.speechace-text {
  background-color: #00abe1;
  color: white;
  padding: 10px;
  margin: 0;
  width: 87%;
  font-weight: 600;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.score {
  font-size: x-large;
  font-weight: bold;
  color: white;
  margin: auto;
}
.hero {
  width: 100px;
}
.hero-right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 100px;
  font-size: 20px;
}
.hero-icon {
  color: #00abe1;
  font-size: 50px;
  font-weight: bolder;
}
.blue {
  color: rgb(2, 112, 175);
  font-size: larger;
  font-weight: 800;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.darkblue {
  color: #00abe1;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  padding: 10px 0px;
}
